.timer {
  width: 588px;
  height: 129px;
  display: flex;
  justify-content: space-between;
}

.signs {
  display: flex;
  flex-direction: column;
  position: relative;
}

.signs:not(:last-child):after {
  content: ":";
  position: absolute;
  font-size: 72px;
  font-weight: 600;
  color: #162C4E;
  left: 136px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  height: 72px;
  color: #162C4E;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border-top: 6px solid #162c4e7e;
  border-left: 6px solid #162c4e7e;
  border-bottom: 6px solid #162c4e7e;
  border-right: 6px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 90;
  animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1100px) {
  .timer {
    width: 358px;
    height: 82px;
  }
  
  .signs:not(:last-child):after {
    height: 36px;
    font-size: 36px;
    left: 70px;
  }
  
  .time {
    height: 36px;
    font-size: 36px;
  }
}

@media screen and (max-width: 550px) {
  .timer {
    width: 310px;
  }
  
  .signs:not(:last-child):after {
    left: 70px;
  }
}