.main {
  width: 100%;
  height: calc(100vh - 192px);
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 60px;
  margin-bottom: 93px;
}

.article h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #162c4e7d;
}

.text {
  width: 423px;
  font-size: 18px;
  font-weight: 500;
  color: #000000c8;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.eventBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.eventBlock p {
  font-size: 18px;
  margin-bottom: 12px;
}

.allEvents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 108px 100px 108px;
}

.allEvents__title {
  font-size: 72px;
  font-weight: 700;
  color: #162c4e7d;
  margin-top: 110px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .main {
    height: calc(100vh - 160px);
  }

  .logo {
    margin-top: 100px;
    margin-bottom: 166px;
  }

  .article h1 {
    font-size: 36px;
  }
  
  .text {
    width: 288px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .eventBlock {
    margin-top: 40px;
  }
  
  .eventBlock p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .allEvents__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 550px) {
  .main {
    height: calc(100vh - 141px);
  }

  .logo {
    margin-top: 80px;
    margin-bottom: 66px;
  }

  .logo img {
    width: 128px;
    height: 40px;
  }

  .article h1 {
    width: 320px;
    text-align: center;
    font-size: 36px;
  }
  
  .text {
    margin-top: 16px;
  }
}

@media screen and (max-height: 960px) {
  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .article h1 {
    font-size: 50px;
  }
  
  .eventBlock {
    margin-top: 20px;
  }

  .allEvents {
    padding: 0 20px 20px 20px;
  }
}